.mainDiv {
  border: 3px solid black;
  background-color: linen;
  text-align: center;
  padding: 25px;
  margin-top: 75px;
  margin-left: 150px;
  margin-right: 150px;
  /* margin: auto; */
}

h1 {
  text-align: center;
  font-family: Georgia, serif;
  font-size: 45px;
}

p {
  text-align: center;
  font-family: Georgia, serif;
}

div {
  text-align: center;
}

img {
  width: 100%;
  height: auto;
}
